DATABASE_NAME=base_name

DATABASE_USER=my_user
DATABASE_PASSWORD=my_password
DATABASE_HOST=name_host
DATABASE_PORT=3306

SECRET_KEY=my_secret_key
DJANGO_SUPERUSER_USERNAME=my_name
DJANGO_SUPERUSER_PASSWORD=my_password
