#home {
    background: black;
}
#media {
    background: rgba(31, 36, 44, 1);
}

/* Навигация */
.navbar {
    padding: 0 150px 0 150px;
    gap: 30px;
    background: rgba(23,25,29,1)
}

.nav-item {
    font-size: 16px;
    font-weight: 600;
}
.nav-link {
    color: white;
}

/* Первая секция с текстом */
.hero {
    padding: 60px 0;
}
.text-center {
    max-width: 750px;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.hero-subtitle {
    color: rgba(195, 205, 221, 1);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.earth-image {
    max-width: 555px;
    max-height: 457px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/*.custom-card {*/
/*    padding: 20px;*/
/*    height: 100%; !* чтобы все карточки были одинаковой высоты *!*/
/*}*/
.card {
    background-color: black;
    padding: 20px;
    color: white;
    height: 100%;
}

.image-space {
    width: 64px;
    height: 64px;
}

.card h3 {
    padding: 16px 8px 16px 8px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.media {
    padding-top: 60px;
    display: grid;
}
.media-title {
    color: white;
    text-align: center;
    padding: 16px 8px 16px 8px;
}

/* Основной слайдер */
.slider-for img {
    padding-top: 30px;
    width: 100%;
    height: 529px;
    object-fit: cover;    /* обрезает сохраняя пропорции */
}

/* Навигационный слайдер */
.slider-nav img {
    width: 100%;
    height: 300px;        /* высота превью */
    object-fit: cover;
    gap: 1rem
}

.slick-prev:before,
.slick-next:before {
    color: red !important;  /* цвет стрелок */
}
.slider-nav .slick-slide {
    padding: 0 12px; /* отступ между слайдами */
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px; /* добавляем вертикальный отступ в мню */
    }

    /* Пункты меню по центру */
    .navbar-collapse {
        text-align: center;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .hero-title {
        font-size: 36px;
    }
    .hero-subtitle {
        font-size: 16px;
    }
    .earth-image {
        width: 100%;
        height: auto;
    }
    .card h3 {
        font-size: 13px;
    }
    .image-space {
        width: 48px;
        height: 48px;
}
}

@media (max-width: 576px) {
    #media .container {
        max-width: 340px;
    }
    .slider-for img {
        height: 200px !important;
        /*max-width: 340px;*/
    }
    .slider-nav img {
        height: 80px !important;
    }
    .slick-prev, .slick-next {
        display: none !important;
    }
    .slider-nav .slick-slide {
        padding: 0 5px;  /* отступы между превью */
    }
    .slider-nav {
        margin-top: 10px;
    }
}