{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}
{% block about-content %}
    <section id="home" class="hero">
        <div class="container justify-content-center" style="border: 16px; width: 750px; height: 168px">
            <h1 class="hero-title">{{ title }}</h1>
            <h4 class="hero-subtitle">{{ description }}</h4>
        </div>
        
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'earth.png' %}"  class="img-fluid earth-image" alt="Earth"> 
                </div>
                
                <div class="col-md-6 custom-card">
                    <div class="row">
                        <div class="col-6 mb-3 card">
                            <div class="p-3 text-center">
                                <i class="bi bi-rocket fs-1"></i>
                                <img src="/static/img/space.png" class="img-fluid image-space" alt="space">
                                <h3>Спейс шатлы — пилотируемые корабли</h3>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                             <div class="p-3 text-center">
                                 <i class="bi bi-telescope fs-1"></i>
                                 <img src="/static/img/telescope.png" class="img-fluid image-space" alt="space"> 
                                 <h3>Лучшее телескопическое оборудование</h3>
                             </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="p-3 text-center">
                                <i class="bi bi-moon-stars fs-1"></i>
                                <img src="/static/img/moon.png" class="img-fluid image-space" alt="space">
                                <h3>Исследовательские станции на Луне</h3>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="p-3 text-center">
                                <i class="bi bi-award fs-1"></i>
                                <img src="/static/img/medal.png" class="img-fluid image-space" alt="space">
                                <h3>Золотая медаль по научным исследованиям</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}